<p style="color: green"><%= notice %></p>

<video controls class="w-100" src="<%= url_for(@video.file) %>"></video>

<% if current_user.admin %>
  <div>
    <%= link_to "Edit this video", edit_video_path(@video) %> |
    <%= link_to "Back to videos", videos_path %>

    <%= button_to "Destroy this video", @video, class: "btn btn-primary", method: :delete %>
  </div>
<% end %>

